@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

#root {
	max-width: 100vw;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-image: url("./pong.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	row-gap: 1rem;
	font-family: "Raleway", sans-serif;
}
